In [6]:
import pandas as pd

# Load the datasets
weather_data = pd.read_csv('../data/daily_weather.csv')
casualties_data = pd.read_csv('../data/df_daily_casualties_russia.csv')

# Display the first few rows of each dataframe to understand their structure
weather_data_head = weather_data.head()
casualties_data_head = casualties_data.head()

weather_data_head, casualties_data_head

(          day  cloud_cover_total   weather   summary weather_id  \
 0  2022-02-24          99.416667  Overcast  Overcast   overcast
 1  2022-02-25          98.583333  Overcast  Overcast   overcast
 2  2022-02-26          99.625000  Overcast  Overcast   overcast
 3  2022-02-27          95.625000  Overcast  Overcast   overcast
 4  2022-02-28          93.833333  Overcast  Overcast   overcast

   precipitation_type  precipitation_total  temperature  wind_speed
 0               none                 0.05     2.616667    3.170833
 1               none                 0.00     3.141667    3.958333
 2               none                 0.00     2.312500    3.625000
 3               none                 0.00     1.350000    3.641667
 4               none                 0.00     0.250000    2.595833  ,
          date  air_defense  aircraft  artillery_systems  bbm  cruise_missiles  \
 0  24.02.2022            0         7                  0  130                0
 1  25.02.2022            0         0                  0    0                0
 2  26.02.2022            0         6                  0 -516                0
 3  27.02.2022            0        11                  0  706                0
 4  28.02.2022            0         2                 74  110                0

    helicopters  rszv  ships  special_equipment  submarines  tanks  uavs  \
 0            6     0      0                  0           0      0     0
 1            0     0      0                  0           0      0     0
 2           11     0      0                  0           0      0     0
 3            8     0      0                  0           0      0     2
 4            3     0      0                  0           0    191     1

    vehicles  personnel
 0         0        800
 1         0       2000
 2         0        200
 3         0       1500
 4         0        800  )

In [7]:
# Convert the date formats to be consistent
weather_data['day'] = pd.to_datetime(weather_data['day'])
casualties_data['date'] = pd.to_datetime(casualties_data['date'], format='%d.%m.%Y')

# Merge the datasets on the date columns
merged_data = pd.merge(weather_data, casualties_data, left_on='day', right_on='date', how='inner')

# Drop the redundant date column
merged_data = merged_data.drop(columns=['date'])

merged_data.tail()

,day,cloud_cover_total,weather,summary,weather_id,precipitation_type,precipitation_total,temperature,wind_speed,air_defense,...,cruise_missiles,helicopters,rszv,ships,special_equipment,submarines,tanks,uavs,vehicles,personnel
830,2024-06-03,33.791667,Sunny,Sunny,sunny,none,0.000000,23.679167,3.616667,3,...,0,0,1,0,4,0,14,40,67,1270
831,2024-06-04,22.500000,Sunny,Sunny,sunny,none,0.000000,23.966667,2.054167,3,...,0,0,2,0,12,0,15,27,69,1290
832,2024-06-05,54.500000,Partly sunny,Partly sunny,partly_sunny,none,0.066667,23.666667,1.704167,3,...,2,0,0,0,12,0,12,39,69,1280
833,2024-06-06,74.750000,Overcast,Overcast,overcast,none,0.000000,23.050000,2.858333,1,...,0,0,3,0,7,0,22,41,63,1300
834,2024-07-07,1.041667,Sunny,Sunny,sunny,none,0.000000,25.566667,3.695833,48,...,82,0,20,0,265,0,327,1016,1743,35990

In [8]:
merged_data.to_csv('../data/merged_data_casualties_weather.csv', index=False)